.formula_inlinPoint{
    display: flex;
    gap: 20px;
    div{
        width: 6px;
        height: 6px;
        background: #C4C4C4;
        border-radius: 50px;
    }
}

/*-------------------------------------*/
.mob{
    display: none;
    margin-bottom: 80px;
    .formula_mob_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 20px;
        .formula_item{
            .formula_item_img{
                margin: 20px 20px;
                img{
                    width: auto;
                    max-width: 250px;
                }
            }
        }
        .formula_item_txt{
            color: #FFFFFF;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            max-width: 250px;
            margin: 20px 0px;
        }
    }
    .formula_inlinPoint{
        display: flex;
        flex-direction: column;
        gap: 20px;
        div{
            width: 6px;
            height: 6px;
            background: #C4C4C4;
            border-radius: 50px;
        }
    }
}


@media (max-width: 1441px){
    .formula_desc{
        margin-bottom: 80px;
        .formula_desc_img{
            .formula_item{
                .formula_item_img{
                    margin: 0 10px;
                }
            }
        }
        .formula_desc_txt{
            .formula_item_txt{
                max-width: 170px;
                font-size: 16px;
                margin: 0 31px;
            }
        }
    }
    .formula_inlinPoint{
        gap: 20px;
    }
}

@media (max-width: 1250px){
    .formula_desc{
        margin-bottom: 80px;
        .formula_desc_img{
            .formula_item{
                .formula_item_img{
                    margin: 0 10px;
                }
            }
        }
        .formula_desc_txt{
            .formula_item_txt{
                max-width: 180px;
                font-size: 16px;
                margin: 0 10px;
            }
        }
    }
    .formula_inlinPoint{
        gap: 10px;
    }
}

@media (max-width: 1025px){
    .formula_desc{
        margin-bottom: 80px;
        .formula_desc_img{
            margin-bottom: 10px;
            .formula_item{
                .formula_item_img{
                    margin: 0 10px;
                    img{
                        max-width: 80px;
                    }
                }
            }
        }
        .formula_desc_txt{
            .formula_item_txt{
                max-width: 153px;
                font-size: 15px;
                margin: 0 9px;
            }
        }
    }
    .formula_inlinPoint{
        gap: 10px;
    }
}

@media (max-width: 961px){
    .formula_desc{
        margin-bottom: 80px;
        .formula_desc_img{
            margin-bottom: 0px;
            .formula_item{
                .formula_item_img{
                    margin: 0 10px;
                    img{
                        max-width: 55px;
                    }
                }
            }
        }
        .formula_desc_txt{
            .formula_item_txt{
                max-width: 120px;
                font-size: 10px;
                margin: 0 9px;
            }
        }
    }
    .formula_inlinPoint{
        gap: 10px;
        div{
            width: 3px;
            height: 3px;
            background: #C4C4C4;
            border-radius: 50px;
        }
    }
}

@media (max-width: 769px){
    .mob{
        display:grid;
    }
}

/*-------------------------*/
.desc{
    margin-bottom: 80px;
}

.formulaDesc_points{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 65px;
    top: 52px;
    margin: 0 90px;
}

.formulaDesc{
    display: flex;
    justify-content: space-evenly;
    margin: 0 55px;
    .formulaDesc_lay{
        display: block;
        max-width: 188px;
        .formulaDesc_content_img{
            width: auto;
            margin-bottom: 20px;
        }
        .formulaDesc_content_title{
            color: #FFFFFF;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
    }
}

@media (max-width: 1550px){
    .formulaDesc_points{
        left: 57px;
        margin: 0 90px;
    }
    .formulaDesc{
        margin: 0 60px;
    }
}

@media (max-width: 1400px){
    .formulaDesc_points{
        left: 55px;
        margin: 0 90px;
        .formula_inlinPoint{
            gap: 13px;
        }
    }
    .formulaDesc{
        margin: 0 90px;
        .formulaDesc_content_img{
            width: auto;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1250px){
    .formulaDesc_points{
        left: 40px;
        margin: 0px 90px;
        .formula_inlinPoint{
            gap: 10px;
        }
    }
    .formulaDesc{
        margin: 0 80px;
        .formulaDesc_lay{
            max-width: 155px;
            .formulaDesc_content_img{
                width: auto;
                margin-bottom: 20px;
                img{
                    max-width: 80px;
                }
            }
            .formulaDesc_content_title{
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1025px){
    .formulaDesc_points{
        left: 46px;
        margin: 0px 70px;
        .formula_inlinPoint{
            gap: 7px;
        }
    }
    .formulaDesc{
        margin: 0 80px;
        .formulaDesc_lay{
            max-width: 130px;
            .formulaDesc_content_img{
                width: auto;
                margin-bottom: 20px;
                img{
                    max-width: 80px;
                }
            }
            .formulaDesc_content_title{
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 960px){
    .formulaDesc_points{
        left: 33px;
        margin: 0px 90px;
        .formula_inlinPoint{
            gap: 4px;
        }
    }
    .formulaDesc{
        margin: 0 100px;
        .formulaDesc_lay{
            max-width: 120px;
            .formulaDesc_content_img{
                width: auto;
                margin-bottom: 2px;
                img{
                    max-width: 60px;
                }
            }
            .formulaDesc_content_title{
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 769px){
    .desc{
        display: none;
    }
}